<div>
    <table id="table-contract">
        <tr>
            <th>Contract Component</th>
            <th>Exceeds Expectations <br>(2 points)</th>
            <th>Baseline Expectations <br>(1 point)</th>
            <th>Below Expectations <br>(0 points)</th>
        </tr>
        <tr>
            <td>Attendance and Punctuality</td>
            <td>Misses no more than 2 class meetings and is on time to class.</td>
            <td>Misses no more than 4 classes and is generally on time to classes</td>
            <td>Misses more than 4 classes without checking-in with the instructor</td>
        </tr>
        <tr>
            <td>Discussion</td>
            <td>Weekly participates in class discussion with thoughtful commentary, and is respectful and encouraging towards their peers.</td>
            <td>Participates in the majority of class discussions, and is respectful and encouraging towards their
                peers.</td>
            <td>Consistently does not meaningfully participate in discussion.</td>
        </tr>
        <tr>
            <td>Sharing Relevant Research</td>
            <td>Shares outside materials with the class at least 4 times and explains their rationale.</td>
            <td>Shares outside materials with the class at least twice and explains their rationale.</td>
            <td>Does not share outside materials.</td>
        </tr>
        <tr>
            <td>Weekly materials and annotations</td>
            <td>Completes each assigned material with at least two annotations prior to class.</td>
            <td>Completes majority of assigned material with annotations prior to class. </td>
            <td>Consistently does not complete assigned materials or annotations.</td>
        </tr>
        <tr>
            <td>Coding assignments</td>
            <td>Submits all coding assignments prior to class and engages in supportive pair programming when assigned.
            </td>
            <td>Submits and completes majority of coding assignments, and participates in pair programming.</td>
            <td>Consistently does not submit or complete coding assignments.</td>
        </tr>
        <tr>
            <td>Curating the Course Blog Posts</td>
            <td>Completes at least three blog posts and submits/uploads them before the end of the course.</td>
            <td>Completes at least one blog post and submits/uploads it before the end of the course.</td>
            <td>Does not submit a blog post.</td>
        </tr>
    </table>
</div>